/* screen desktop */
@media screen and (min-width: 1200px)  {
   .title {
      color: blue ;
      display: none ;
   }
}


/* screen tabet */

@media screen and (min-width: 575px) and (max-width: 990px) and (orientation:portrait) {
   .title {
      color: red;
      display: block ;
   }
}